* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #333;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

form {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #9b3535;
  margin-bottom: 1em;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .wrapper {
  width: 95%;
  margin: 0 auto;
  padding: .4em .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper h1 {
  font-size: 1.6em;
}

header .wrapper .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
}

header .wrapper .input-group input {
  padding: .4em;
}

header .wrapper .input-group .input[type="text"] {
  border: 1px solid #6d2828;
}

header .wrapper .input-group .input[type="submit"] {
  background-color: #fff;
  border: 1px solid #6d2828;
  margin-left: 1em;
}

section.app {
  width: 95%;
  margin: 0 auto;
}

section.app .poke-stats {
  margin-bottom: 2em;
}

.container {
  background-color: #fff;
  border: 1px solid #9b3535;
  border-radius: 4px;
}

.container h1 {
  background-color: #9b3535;
  color: #fff;
  text-align: center;
  padding: .4em 0;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container ul.main-list {
  max-height: 85vh;
  overflow-y: scroll;
}

.container ul li.poke-item {
  padding: .4em;
}

.container ul li.poke-item.red {
  background-color: #9b3535;
  color: #fff;
  text-align: center;
}

.container ul li.poke-item.active {
  background-color: #9b3535;
  color: #fff;
}

.container ul li.poke-item.image img {
  display: block;
  margin: 0 auto;
}

.container ul li.poke-item:not(:last-of-type) {
  border-bottom: 1px solid #9b3535;
}

@media (min-width: 850px) {
  section.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.app .poke-stats {
    width: 50%;
  }
  section.app .poke-list {
    width: 45%;
  }
}
/*# sourceMappingURL=main.css.map */