* {
    box-sizing: border-box;
}
body {
    background-color: #f6f6f6;
    color: #333;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    margin: 0;
}
form {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
header {
    background-color: rgb(155, 53, 53);
    margin-bottom: 1em;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .wrapper {
        width: 95%;
        margin: 0 auto;
        padding: .4em .2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.6em;
        }

        .input-group {
            display: flex;
            flex-direction: row;
            width: 25%;
            input {
                padding: .4em;
            }
            .input[type="text"] {
                // width: 70%;
                border: 1px solid rgb(109, 40, 40);

            }
            .input[type="submit"] {
                // width: 20%;
                background-color: #fff;
                border: 1px solid rgb(109, 40, 40);
                margin-left: 1em;
            }
        }
    }
}
section.app {
    width: 95%;
    margin: 0 auto;
    .poke-stats {
        margin-bottom: 2em;
    }
}
.container {
    background-color: #fff;
    border: 1px solid rgb(155, 53, 53);
    border-radius: 4px;
    h1 {
        background-color: rgb(155, 53, 53);
        color: #fff;
        text-align: center;
        padding: .4em 0;
    }
    ul {
        &.main-list {
            max-height: 85vh;
            overflow-y: scroll;
        }
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        li.poke-item {
            &.red {
                background-color: rgb(155, 53, 53);
                color: #fff;
                text-align: center;
            }
            &.active {
                background-color: rgb(155, 53, 53);
                color: #fff;
            }
            &.image {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(155, 53, 53);
            }            
            padding: .4em;
        }        
    }
}

@media(min-width: 850px) {
    section.app {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .poke-stats {
            width: 50%;
        }
        .poke-list {
            width: 45%;
        }
    }
}